@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import "bootstrap/dist/css/bootstrap.css";

body {
  margin: 0px;
  font-family: "Open Sans", sans-serif;
}

.CreateEvent_body:after {
  clear: both;
  display: block;
  content: "";
}

.CreateEvent_body {
  width: 100%;
  height: 960px;
  margin: 0;
  overflow: visible;
}

.CreateEvent_body h1 {
  font-size: 300%;
}

.CreateEvent_body .split {
  width: 50%;
  height: 100%;
  float: left;
  text-align: center;
  padding-top: 100px;
}

.CreateEvent_right input {
  border: 0;
  width: 524px;
  height: 50px;
  background-color: #ececec;
  font-size: 20px;
  margin-bottom: 20px;
  padding: 0px 20px;
}

.CreateEvent_right select {
  border: 0;
  width: 524px;
  background-color: #ececec;
  font-size: 20px;
  margin-bottom: 20px;
  padding: 0px 20px;
}
.CreateEvent_right .category {
  height: 50px;
}
.CreateEvent_right .hashtag {
  height: 110px;
}

.CreateEvent_right .des {
  border: 0;
  width: 524px;
  background-color: #ececec;
  height: 150px;
  font-size: 20px;
  margin-bottom: 20px;
  padding: 0px 20px;
}
.CreateEvent_right p {
  font-size: 20px;
  font-weight: bold;
}

.CreateEvent_right button {
  padding: 9px 50px;
  background-color: #3a5a40;
  border: solid;
  border-color: #3a5a40;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.CreateEvent_right button:hover {
  background-color: #a3b18a;
  border-color: #a3b18a;
  color: #344e41;
}

.CreateEvent_left {
  color: black;
  margin-top: 100px;
}

.CreateEvent_left img {
  width: 180px;
  height: auto;
}

.CreateEvent_left p {
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 3px;
  word-spacing: 5px;
  margin-bottom: 50px;
}

.CreateEvent_left button {
  background: none;
  border-color: white;
  border: solid;

  padding: 9px 50px;
  border-width: 5px;
  border-color: white;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;

  font-size: 20px;
  color: white;
  font-weight: bold;
}

.CreateEvent_left button:hover {
  background-color: white;
  color: #344e41;
}
