@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import "bootstrap/dist/css/bootstrap.css";

body {
  margin: 0px;
  font-family: "Open Sans", sans-serif;
}

.EventDetail_body:after {
  clear: both;
  display: block;
  content: "";
}

.EventDetail_body {
  width: 100%;
  height: 960px;
  margin: 0;
  overflow: visible;
}

.EventDetail_body h1 {
  font-size: 300%;
}

.EventDetail_body .split {
  width: 50%;
  height: 100%;
  float: left;
  text-align: center;
  padding-top: 50px;
}

.EventDetail_left {
  color: black;
  margin-top: 100px;
  padding: 30px;
}

.EventDetail_left p {
  font-weight: bold;
  font-size: 20px;
  /* letter-spacing: 3px;
  word-spacing: 5px; */
  margin-top: 30px;
}

.EventDetail_left .Store_button {
  border: solid;
  background-color: #dad7cd;
  border-color: #dad7cd;
  font-size: medium;
  padding: 0px 15px;
  color: #344e41;
  margin-left: 50px;
}

.hashtag_button {
  border: solid;
  background-color: #6e41e2;
  border-color: #6e41e2;
  font-size: medium;
  padding: 0px 15px;
  color: white;
  margin-left: 20px;
}
